---
---
$color: #2C75A0;
$steps: (
  1: 5,
  2: 10,
  3: 15,
  4: 20,
  5: 25
);

.w3-theme { background-color: $color }
.w3-hover-theme:hover { background-color: $color + hsla(0, 10, 25, 100) !important }

.w3-text-theme { color: $color }
.w3-hover-text-theme:hover { color: $color + hsla(0, 10, 25, 100) !important }

.w3-border-theme { border-color: $color }
.w3-hover-border-theme:hover { border-color: $color + hsla(0, 10, 25, 100) !important }

@each $i, $step in $steps {
  .w3-theme-l#{$i} { color: #000; background-color: $color + hsla(0, 0, $step, 100) !important }
  .w3-theme-d#{$i} { color: #fff; background-color: $color - hsla(0, 0, $step, 100) !important }
}

.w3-theme-light { color: #000; background-color: $color + hsla(0, 0, map-get($steps, 5), 100) !important }
.w3-theme-dark { color: #000; background-color: $color - hsla(0, 0, map-get($steps, 5), 100) !important }
.w3-theme-action { @extend .w3-theme-dark }
