<div class="cuil-navbar cuil-theme-bg-d5 cuil-bround-bl-16px cuil-bround-br-16px cuil-margin-top-0 cuil-card cuil-shadow-8px">
  <a class="cuil-btn {{index_color}} cuil-hover-theme-bg w3-left" href="/">
    <p class="w3-round"><i class="fa fa-home"></i></p>
  </a>
  <a class="cuil-btn {{tutorial_color}} cuil-hover-theme-bg w3-left" href="/gogling/">
    <i class="fa fa-server"></i> Gogling
  </a>
  <a class="cuil-btn cuil-bg-red w3-right" href="#">
    <i class="fa fa-paint-brush"></i> Colorizer &lt;WIP&gt;
  </a>
</div>
