{% include head.html title="Nickolay Ilyushin"%}
{% include headerbar.html type="index" %}
{% include top.html type="index" %}

<div class="cuil-card cuil-shadow-16px cuil-margin-16px">
  <header class="cuil-container cuil-theme-bg-d4">
    <h2 class="cuil-margin-0">
      <p style="float: left" class="cuil-margin-0">
        <i class="fa fa-home" style="font-size: 90%"></i> Nickolay Ilyushin
      </p>
    </h2>
  </header>
  <section class="cuil-container">
    {{content}}
  </section>
  </div>
{% include footer.html %}
