{% include head.html %}
{% include headerbar.html type="index" %}
<div class="w3-card-4 w3-margin">
  <header class="w3-container w3-theme-d4">
    <h2 class="w3-margin-0">
      <i class="fa fa-home" style="font-size: 90%"></i> Home Page
    </h2>
  </header>
  <section class="w3-container">
    <p>
      {{content}}
    </p>
  </section>
  <footer class="w3-container w3-theme-d5 w3-padding-4">
    Build status: <a href="https://travis-ci.org/handicraftsman/gogling" style="text-decoration: none;">
      <img src="https://img.shields.io/travis/handicraftsman/gogling/master.svg?label=Master" alt="Master">
      <img src="https://img.shields.io/travis/handicraftsman/gogling/development.svg?label=Development" alt="Development">
    </a>
  </footer>
</div>
{% include footer.html %}
