{% include head.html %}
{% include headerbar.html type="tutorial" %}
<div class="cuil-card cuil-shadow-16px cuil-margin-16px">
  <header class="cuil-container cuil-theme-bg-d4">
    <h2 class="cuil-margin-0">
      <i class="fa fa-book" style="font-size: 90%"></i> Tutorial n{{page.title}}
    </h2>
  </header>
  <section class="cuil-container cuil-margin-bottom-4px">
    {{content}}
  </section>
  <br/>
  <!--
  <footer class="cuil-container cuil-theme-bg-d5">

  </footer>
  -->
</div>
{% include footer.html %}
